$bg-dark: #1d2126;
$color-base: #a4aead;
$teal: #23b7a4;
$link-color: #23b7a4;
$font-family-base: "Open Sans", sans-serif;
$font-weight-normal: 600;
$container-max-widths: (
  lg: 1140px,
);
$line-height-base: 0.6;
$h2-font-size: 36px;
$headings-color: #292f36;
