body {
  color: $color-base !important;
}
.navbar {
  padding-top: 0;
  padding-bottom: 0;
}
.header-wrapper {
  background: $bg-dark;
  margin-bottom: 104px;
}
.header {
  min-height: 55px;
  @include media-breakpoint-up(lg) {
    line-height: 0;
  }
}
.navbar-nav {
  @include media-breakpoint-between(xs, lg) {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
  }
  @include media-breakpoint-up(lg) {
    width: 633px;
  }
}
.nav-item {
  .nav-link {
    text-transform: uppercase;
    color: $color-nav !important;
    line-height: 0.7;
    font-weight: 600;
    padding: 8px 10px !important;
    &:hover {
      color: $teal !important;
    }
    @include media-breakpoint-up(lg) {
      border: 2px solid transparent;
      font-size: $font-size-sm;
      &:hover {
        border: 2px solid $color-nav;
        border-radius: 3px;
        color: $color-nav !important;
      }
    }
  }
  .active {
    @include media-breakpoint-up(lg) {
      color: $teal !important;
      border: 2px solid $teal;
      border-radius: 3px;
      &:hover {
        border-color: $teal;
        color: $teal !important;
      }
    }
  }
}
.navbar-toggler {
  border: 3px solid $teal !important;
  &:focus {
    box-shadow: none;
  }
}
.data {
  overflow: hidden;
  .columns {
    margin: 0 30px;
    @include media-breakpoint-between(sm, md) {
      max-width: 76%;
      margin: auto;
    }
    @include media-breakpoint-up(xxl) {
      margin: 0 0 42px 0;
    }
  }
  .block {
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      padding-right: 20px;
    }
    @include media-breakpoint-up(xxl) {
      padding-right: 12px;
    }
  }
  h2 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    padding-left: 20px;
    margin-bottom: 83px;
    position: relative;
    letter-spacing: -2.6px;
    &::before {
      content: "";
      position: absolute;
      width: 10px;
      height: 35px;
      left: -1px;
      top: 0px;
      background: #e1e6ea;
    }
  }
  span {
    background: url("../../images/sprite.png") no-repeat -8px -8px;
    width: 48px;
    height: 48px;
    display: block;
    margin: auto;
    margin-bottom: 32px;
  }
  .pixel-perfect {
    background: url("../../images/sprite.png") no-repeat -69px -8px;
  }
  .responsive {
    background: url("../../images/sprite.png") no-repeat -135px -8px;
  }
  .support {
    background: url("../../images/sprite.png") no-repeat -183px -8px;
  }
  h3 {
    font-family: "Quattrocento Sans", sans-serif;
    text-transform: uppercase;
    margin-bottom: 18px;
    letter-spacing: -0.7px;
  }
}
